html,
body {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
    background-color: var(--body-bg);
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-border {
    padding: 5px;
    background: linear-gradient(115deg, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5));
}

.button-border:hover {
    background: linear-gradient(-115deg, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5));
}

.button {
    border: none;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 25px 75px;
    font-family: inherit;
    font-size: 20px;
    letter-spacing: 2px;
}

.button-border:hover .button {
    color: var(--btn-color-hover);
    cursor: pointer;
    padding: 28px 78px;
}